<style>
img {{width: 50}
  </style>

<h1>  Раді вітати кожного на нашій сторінці!
  </h1>

<p>  Допоможемо вам швидко, а головне цікаво опанувати або ж екзотичну китайську, або ж всюди потрібну англійську! </p>
  <img src="https://scontent.fhmj1-1.fna.fbcdn.net/v/t39.30808-6/295184275_573241391141213_933793283183827728_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=0Iws9Dd03acAX-X7KhR&_nc_ht=scontent.fhmj1-1.fna&oh=00_AT8VxceuyANhOXm7J4Ch4jfEN7cbtKn9SjQVdNDKMoJgnw&oe=62EA0796" width="800" height="600">
